@{
    ViewBag.Title = "My Feed";
}
@model List<NewsFeeds.Entities.Post.ViewModels.PostDisplayViewModel>
<div>
    <h2>What's New</h2>
    <hr />
    @if (Model.Count == 0)
    {
        <h3 class="text-center">Nothing here yet, <a href="@Url.Action("Index", "Topic")">subscribe to topics</a></h3>
    }
    else
    {
        <div class="container-fluid">
            <div class="row">
                @Post.PostList(Model, Url, ViewContext)
            </div>
        </div>
    }
</div>