@{
    ViewBag.Title = "Welcome";
}

@model List<NewsFeeds.Entities.Topic.ViewModels.TopicDisplayViewModel>
<div class="jumbotron">
    <h1>NewsFeeds</h1>
    <h2>See what's going on</h2>
</div>

<div>
    <h3>Topics</h3>
    <hr />
    @Topic.TopicHome(Model, @Url)
</div>