@{
    ViewBag.Title = "Home";
}
@model NewsFeeds.ViewModels.HomeIndexViewModel

@if (Request.IsAuthenticated)
{
    <div>
        <h1>Topics</h1>
        <hr />
        <div class="container-fluid">
            <div class="row">
                @foreach (var topic in Model.Topics)
                {
                    <div class="col-md-4">
                        @topic.Name
                    </div>
                }
            </div>
        </div>
    </div>
} else
{
    <div class="jumbotron">
        <h1>NewsFeeds</h1>
        <h2>See what's happening</h2>
    </div>
}
