@model NewsFeeds.Entities.Topic.ViewModels.TopicDisplayViewModel
@{
    ViewBag.Title = "/" + Model.Name;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h2>/@Model.Name</h2>
        </div>
        <div class="col-xs-8">
            <form method="get">
                <div class="input-group search-bar">

                    <input type="text" name="query" class="form-control" placeholder="Search for..." value="@Request.QueryString.Get("query")">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>

        </div>
    </div>
    <hr />
    @if (Model.Posts.Count > 0)
    {
        <div class="row">
            @Post.PostList(Model.Posts, Url, ViewContext)
        </div>
    }
    else
    {
        if (Request.QueryString.Get("query") != null)
        {
            <h4 class="text-center">No results for "@Request.QueryString.Get("query")"</h4>
        } else
        {
            <h3>Hello</h3>
        }
    }
</div>


