@model NewsFeeds.Entities.Topic.ViewModels.TopicDisplayViewModel
@{
    ViewBag.Title = "/" + Model.Name;
}

<div class="container-fluid">
    <div class="row topic-details-header">
        <div class="col-xs-3">
            <h2 class="visible-lg-inline">/@Model.Name</h2>
            <span class="visible-lg-inline topic-details-actions">
                @Topic.SubscriptionButtons(Model, Url)
            </span>
        </div>
        <div class="col-xs-offset-3 col-xs-6">
            <form method="get">
                <div class="input-group search-bar">

                    <input type="text" name="query" class="form-control" placeholder="Search for..." value="@Request.QueryString.Get("query")">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </span>
                </div>
            </form>

        </div>
    </div>
    <hr />
    @if (Model.Posts.Count > 0)
    {
        <div class="row">
            @Post.PostList(Model.Posts, Url, ViewContext)
        </div>
    }
    else
    {
        if (Request.QueryString.Get("query") != null)
        {
            <h4 class="text-center">No results for "@Request.QueryString.Get("query")"</h4>
        } else
        {
            <h4 class="text-center">Topic has no posts yet</h4>
        }
    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            bindSubscriptionButtonEvents();
        });
    </script>    
}

