@{ 
    ViewBag.Title = "Topics";
}
@model List<NewsFeeds.Entities.Topic.ViewModels.UserTopicViewModel>

<div>
    <h2>Discover Topics</h2>
    <hr />
    @if (!Model.Any(t => !t.IsSubscribed))
    {
        <p class="text-center">No topics to subscribe</p>
    }

    @if (Model.Any(t => !t.IsSubscribed))
    {
        <div class="container-fluid">
            <div class="row">
                @foreach (var topic in Model)
                {
                    if (!topic.IsSubscribed)
                    {
                        @Topic.SingleTopic(topic, @Url)
                    }
                }
            </div>
        </div>
    }

</div>

<div>
    <h2>Following</h2>
    <hr />
    @if (!Model.Any(t => t.IsSubscribed))
    {
        <p class="text-center">Come on, subscribe to a topic!</p>
    }

    @if (Model.Any(t => t.IsSubscribed))
    {
        <div class="container-fluid">
            <div class="row">
                @foreach (var topic in Model)
                {
                    if (topic.IsSubscribed)
                    {
                        @Topic.SingleTopic(topic, @Url)
                    }
                }
            </div>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            bindSubscriptionButtonEvents();
        });
    </script>
}
